<!DOCTYPE html>
<html>
<head>
  <title>Mailme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="col-md-4 col-md-offset-4">
<%= yield %>
</div>
</div>
</body>
</html>
